body{
	margin:0;
	min-height: 100vh;
	background-image:url(1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	background-attachment: fixed;
	
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	text-align:center;
}

form{
	width:25%;
	border:5px solid #d3d3d3;
	margin:15px auto;
	padding:30px;
	background-image:url(S.jpg);
	border-radius:5%;
	color:#000;
}

h4
{
 width:95%; /*ancho del area del texto con respecto al area de trabajo*/
 background:#AFF0F6;
 margin:5px; /*margen externo (con respecto a la ventana de trabajo)*/
 padding:5px; /*margen interno (dentro del parrafo)*/
 border:3px solid #000000;
 border-radius:7%;
}






